@media screen and (min-width: 600px){
    main {
        grid-template-columns: 1fr 1fr;
    }
    
    .chicagoimgs {
        grid-column: 2/3;
    }

    nav li {
		display: flex;
        flex-direction: columns;
        gap: 20em;
    }

    .sidebar-content {
        grid-column: 1/2;
    }
    .two-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #hamMenu {
        display: none;
    }

    .memberMain {
        flex-direction: row;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
    }
    .nav a{
        color: white;
    }

    .weatherandforecast {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
}