@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Concert+One&display=swap');

a:hover {
    background-color: rgb(124, 97, 128);
    color: rgb(215, 215, 220);
    border-radius: 5px;
}

body {
    background-color: rgb(221, 216, 216);
}
header, nav, .hero, h2, footer, main {
    margin: 0 auto;
    padding: 10px;
        background-color: rgb(127, 155, 125);
}

header {
    justify-items: center;
    display: grid;
    border-radius: 5px;
}
footer {
    border-radius: 5px;
    text-align: center;
    padding: 0.4rem;
}

footer p {
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

h1 {
    color: #2e2d2d;
    font-family: 'Concert One', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 33px;
    color: rgb(46, 45, 45);
}

h3 {
    text-align: center;
    color: rgb(234, 230, 230);
    background-color: rgb(58, 63, 57);
    border-radius: 5px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 25px;
    box-shadow: 2px 2px 5px rgb(163, 152, 152)
}

h4 {
    color: rgb(46, 45, 45);
    font-family: Amatic AC;
}

iframe {
    width: 100%;
}

nav ul {
    list-style: none;
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

nav li {
    display: none;
} 


li a {
    text-decoration: none;
    list-style: none;
    color: #2e2d2d;
}

.nav.open {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
p {
    text-align: center;
    color: rgb(46, 45, 45);
    font-size: 18px;
}
/* class selector */

.card h3{
    text-align: center;
    width: 100%;
}

.card {
    margin: 0 auto;
    justify-content: center;
    background-color: rgba(158, 182, 161, 0.5);
    padding: 15px;
    border-radius: 1em;
    box-shadow: 2px 2px 5px rgb(83, 78, 78);
}

.sublink li a {
    color: aquamarine;
}

#lesson-responsive ul {
    list-style: none;
    text-decoration: none;
}

#lesson-responsive {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

#wind-speed {
    font-size: 14px;
    font-family: 'Concert One';
}

#wind-speed p {
    color: rgb(0, 0, 0);
} 

.hero img {
    width: 100%;
	height: 100%;
	object-fit: cover;
  }

.hero {
    display: grid;
}

.heromsg {
    position: absolute;
    background-color: rgb(221, 206, 156);
    padding: 1.5rem;
    box-shadow: 2px 2px 5px rgb(163, 152, 152);
    width: 15%;
    height: auto;
    font-size: 1rem;
}

.open li {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.open li a {
    display: block;
    justify-content: center;
    align-items: center;
}

li a {
    list-style: none;
    text-decoration: none;
}
.open li a:hover {
    background-color: rgb(124, 97, 128);
    color: rgb(215, 215, 220);
    border-radius: 5px;
}

.weather {
    text-align: center;
    background-color: rgba(158, 182, 161, 0.5);
    padding: 15px;
    border-radius: 1em;
    box-shadow: 2px 2px 5px rgb(83, 78, 78);
}

/* id selector */

#hamMenu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 0;
	right: 0;
}

#hamMenu::before {
	content: "☰";
}

#hamMenu.open::before {
	content: "✖️";
}

#darkMode {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
}

#profile {
    width: 15%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(83, 78, 78);
    border-radius: 10px;
    justify-items: center;
}

/* record styling */

#record h1 {
    font-size: 25px;
    text-align: center;
    color: rgb(25, 52, 43);
}

#record p {
    font-size: 18px;
    text-align: center;
    color: rgb(7, 19, 15);
}

