@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Concert+One&display=swap');
/* html selector */

a:hover {
    background-color: rgb(124, 97, 128);
    color: rgb(215, 215, 220);
    border-radius: 5px;
}

body {
    background-color: #e3e8ec;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 189, 199);
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgb(163, 152, 152);
}
footer {
    background-color: rgb(142, 189, 199);
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(163, 152, 152);
}

footer p {
    font-family: 'Amatic SC', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

h1 {
    color: #2e2d2d;
    font-family: 'Concert One', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 33px;
    color: rgb(46, 45, 45);
}

h3 {
    text-align: center;
    color: rgb(46, 45, 45);
    background-color: rgb(142, 189, 199);
    border-radius: 5px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 25px;
    box-shadow: 2px 2px 5px rgb(163, 152, 152);
}

a {
    text-align: left;
    color: rgb(46, 45, 45);

}

nav ul {
    list-style: none;
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

nav li {
    display: none;
} 


li a {
    text-decoration: none;
    list-style: none;
    color: #2e2d2d;
}

p {
    text-align: center;
    color: rgb(46, 45, 45);
    font-size: 18px;
}

/* #weatheroverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgb(46, 45, 45);
    transform: translate(-50%, -50%);
} */

/* class selector */
.card h3{
    text-align: center;
}

.open li {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.open li a {
    display: block;
    justify-content: center;
    align-items: center;
}

.open li a:hover {
    background-color: rgb(124, 97, 128);
    color: rgb(215, 215, 220);
    border-radius: 5px;
}

.weather {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* id selector */

#hamMenu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
	background-color: #eee;
	color: #000;
 	position: absolute;
	top: 0;
	right: 0;
}

#hamMenu::before {
	content: "☰";
}

#hamMenu.open::before {
	content: "✖️";
}

#darkMode {
    position: absolute;
	top: 1rem;
    left: 0;
	font-size: 2rem;
	cursor: pointer;
}

#profile {
    width: 15%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgb(83, 78, 78);
    border-radius: 10px;
}

#weatherimg {
    position: relative;
    width: 50%;
    text-align: center;
}