@media screen and (min-width: 600px){
    .card {
        grid-template-columns: 2fr 1fr;
    }
    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 3rem;
    }
    #hamMenu {
        display: none;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
    }
}